body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content:center;align-items: center;

}
#img12{
  height: 110px;
  width: 110px;
  border-radius: 50%;
  position: absolute;
  filter: contrast(3.56);
  top: -69%;
  left: -30px;
  transition:0.5s ease-in-out; 
}

#img12:hover{
  transform: rotateZ(360deg);
}
:root{
  --clr :yellow;
}

#container3D canvas {
  width: 100% !important;
  height: 100% !important;
  position: fixed !important;
  left: 0;
  z-index: -1;
}
@font-face {
  font-family:kiran1 ;
  src: url('HappyMonkey-Regular.ttf');
}

@font-face {
  font-family: kiran2;
  src: url('Gondola_SD.ttf');
}


#aboutsec{
  height: 300px;
  width: 90%;
  position:fixed;
  bottom: 60px;
  backdrop-filter: blur(30px);
  visibility: hidden;
}

.navigation{
  position: absolute;
  height: 80px;
  width: 550px;
  backdrop-filter: blur(40px);
  top : 35px;
  text-align: center;
  justify-content: center;
  display: flex;
  left: 36%;
  border-radius: 25px;
  margin: 0;
  padding: 0;
  z-index:1 ;
  box-sizing: border-box;
  padding: 0px;
  font-family: kiran1;
  font-weight: bolder;
  font-size: 18px;
  color: black;
}

.navigation ul{
  display: flex;
  width: 500px;
  gap: 60px;
}
.navigation ul li{
  list-style: none;
  position: relative;
  width: 50px;
  height: 70px;
  z-index: 1;
}

.navigation ul li a{
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.navigation ul li a .icon{
  position: relative;
  display: block;
  line-height: 55px;
  font-size:33px;
  text-align: center;
  transition:0.5s;
  color: black;
  font-weight:900;
}

.navigation ul li:hover a .icon{
  transform: translateY(-35px);
}
.navigation ul li a .text{
  position:fixed;
  color:black;
  font-weight: 900;
  transition:0.5s;
  opacity: 0;
}

.navigation ul li:hover a .text{
  opacity: 1;
}

#foot{
  height:50px;
  width:100%;
  margin: 8px;
  bottom: 0;
  backdrop-filter: blur(40px);
  border-radius: 50px;
  position: absolute;
}
#clock {
  font-size: 45px;
  color: antiquewhite;
  font-family: kiran1;
  width: 260px;
  font-weight: 900;
  margin-left: 85%;
}