.header-section {
    margin: 300px auto 0;
  }

  #b1{
    visibility: hidden;
    color: black;
    margin-top: -130px;
    margin-left: 100px;
    position: absolute;
  }
#b2{
  visibility: hidden;
  color:black;
  margin-top: 70px;
  margin-left: 100px;
  position: absolute;
}

#b3{
  visibility: hidden;
  color: black;
  margin-top: 270px;
  margin-left: 100px;
  position: absolute;
}
  svg {
    max-width: 600px;
    overflow: visible;
    margin-top: 20vh;
  }
  #tri{
    float: right;
    height: 800px;
    margin-top:60vh;
    width: 65%;
    position: relative;
  }
  .ball {
    fill: white;
    visibility: hidden;
  }
  
  .line {
    fill: none;
    stroke: white;
    stroke-width: 2px;
  }
  text {
    fill: white;
    font-size: 15px;
    font-family: "Signika Negative", sans-serif; 
    visibility: hidden;
  }
  
body {
  height: 400vh;
  background-image: linear-gradient(90deg, #40e0d0, #ff8c00, #ff0080);
 
  color: white;
}
#example {
  font-size: 105px;
  border-radius: 13px;
  border: solid pink;
  width: fit-content;
}

